<div class="main-container">
    <a class="btn btn-outline-success btn-circle-sm" tabindex="-1" role="button">
        <i class="material-icons">add_circle</i>
    </a>
</div>
<div class="container table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
           <tr >
                <th class="text-center">Ver Detalle</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col">Valor ($)</th>
                <th scope="col"><div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Qué Desea Hacer?
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="PagarTodo(listaGastosFijos);">Pagar Todo</a>
                            <a class="dropdown-item" href="">Borrar Todo</a>
                        </div>
                    </div></th>
            </tr>
        </thead>
        <tbody>
             <tr id="{{gastoFijo.id}}" [ngClass]="clasePagado(gastoFijo.pagado)" *ngFor="let gastoFijo of listaGastosFijos">
                <th class="text-center">
                    <i class="material-icons">search</i>
                </th>
                <td>{{gastoFijo.nombre}}</td>
                <td>{{gastoFijo.fecha | date:'mediumDate'}}</td>
                <td>${{gastoFijo.valor}}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Qué Desea Hacer?
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a [ngClass]="claseDesabilitado(gastoFijo.pagado)"  (click)="Pagar(gastoFijo);">Pagar</a>
                            <a class="dropdown-item" href="">Editar</a>
                            <a class="dropdown-item" href="">Borrar</a>
                        </div>
                    </div>
                </td>
            </tr>  
        </tbody>
    </table>
</div>